* {
    padding: 0;
    margin: 0;
}

html{
    background: url(../image/fon2.jpg) center top/cover;
    height: 100px;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.2);
}

header{
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 17px;
    color: white;
    justify-content: space-between;
}

.кнопки{
    display: flex;
    margin-right: 10%;
}

.entrance{
    margin-right: 20%;
    background-color: blueviolet;
    border-radius: 200px;
    box-shadow: 0 0 10px;
    display: inline-block;
}

.registry{
    background-color: darkviolet;
    border-radius: 200px;
    box-shadow: 0 0 10px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
    transition: 0.2s;
}

a:active {
    color: darkviolet;
}

.menu{
    padding: 1%;
    display: none;
}

.logo:hover .menu{
    display: block;
    position: absolute;
    background-color: white;
}

li{
    margin-bottom: 8%;
    list-style: none;
}

li:hover{
    background: darkviolet;
    border-radius: 2px;
    color: white;
    transition: 0.2s;
}

.главная{
    background: url(../image/flag.png) no-repeat center top/cover;
    margin: -1px;
    width: 50px;
    height: 30px;
    box-shadow: 0 0 8px;
}

.поле{
    margin: 8% auto 0 auto;
    width: 65%;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 2%;
    font-size: 17px;
}

.президент{
    padding-bottom: 4%;
}

hr{
    background-color: red;
    height: 3px;
    margin: 3%;
}

.picture{
    border-radius: 200px;
    box-shadow: 0 0 5px;
    height: 120px;
    margin-right: 1%;
    margin-left: 1%;
}